.navbar {
    z-index: 100;
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 0;
    position: sticky;
    top: 0;
}

.container {
    z-index: 2;
    background-color: #0000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1360px;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    position: relative;
}

.navbarWrapper {
    grid-column-gap: 29px;
    grid-row-gap: 29px;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.categoryDropdown {
    max-width: 310px;
    margin-left: 0;
    margin-right: 0;
}

.wDropdown {
    text-align: left;
    z-index: 900;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative;
}

.browseCategoriesBlock {
    grid-column-gap: 11px;
    grid-row-gap: 11px;
    align-items: center;
    padding: 0;
    display: flex;
}

.wDropdownToggle {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding-right: 40px;
    display: inline-block;
}

._20pxSvg {
    max-width: 20px;
}

._14pxTextUppercase {
    color: #3d5779;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

._1pxWidthDivider {
    background-color: #8f9eb2;
    width: 1px;
    height: 21px;
}

.navMenuWrapper {
    justify-content: center;
    align-items: center;
    display: flex;
}

.navMenu {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    color: #fff;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
}

.navList {
    color: #0c2d57;
    flex: none;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.navLink {
    color: #3d5779;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
    transition: color .3s ease-out;
    display: flex;
}

.horizontalBlockWith7pxGap {
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    align-items: center;
    display: flex;
}

._16pxSvg {
    max-width: 16px;
}

.paragraph400Semibold {
    color: #3d5779;
    font-weight: 500;
}